* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 250%;
}

a{
    text-decoration: none;
    color:black;
}

header{
    background-color: rgb(72, 121, 122);
    display: flex;
    margin-left: -10px;
    margin-top: -10px;
    justify-content: space-between;
    align-self: flex-start;
    border-bottom: 4px solid black;
    width: 100%;
}

body header h1{
    color: white;
}

header img{
    position: absolute;
    width: 2%;
    height: 5%;
    left: 2%;
    top: 3%;
}

header aside{
    position: absolute;
    left: 4.5%;
    top: 3%;

}

nav{
    margin-left: -10px;
}


#titre{
    display: flex;

    margin-left: 50%;
}


.menu{
    width: 20%;
    min-width: 12em;
    height: 89vh;
    border-right: 2px solid black;
    background-color: cadetblue;
    position: relative;
}

main{
    position: absolute;
    top: 20%;
    left: 40%;
    height: 79%;
    width: 60%;

    font-size: 100%;

    padding: 15px;
    padding-left: 30px;

    background-image: url('logoECE.png');
    background-repeat: no-repeat;
    background-size: contain;
    
}

main h1{
    margin-top: -10px;
    margin-left: 20%;
    margin-bottom: 7%;
    
    
}

main p{
    margin-left: -20%;
    font-size: 120%;

}

main img{
    width: 25%;
    height: auto;
    margin-left: 20%;
    margin-bottom: 4%;
}

.sous{
    display: none;
    z-index: 1;

}

.menu li{
    position: relative;
    border-bottom: 1px solid black;

}

nav ul{
    list-style-type: none;
}

.principal{
    margin-top: 10%;
}


nav li a{
    display: block;
    background-color: cadetblue;
    color: cornsilk;
}

nav li a:hover{
    background-color:whitesmoke;
    color: cadetblue;
}

nav li:hover .sous{
    display: block;
    position: absolute;
    top: 0%;
    left: 85%;
    width: 110%;
}


.maincontent
{
    display: flex;
    
}

h2{
    text-decoration: underline;
    color: cadetblue;

}

.first{
    margin-top: -8%;
    margin-left: -22%;
    margin-right: 15%;
    width: 40%;
}

.second{
    margin-top: -8%;
    margin-left: 10%;
}

h3{
    margin-top: -25px;
}

.content{
    margin-top: -25px;
}

.middle{
    margin-bottom: 100px;
}

.comp{
    margin-bottom: 70px;
}

figure{
    position: absolute;
    top: 35%;
    left: 35%;
}

figcaption{
    text-align: center;
    font-size: 150%;
}


.second div{
    display: flex;
    flex-direction: column ;
    width: 140%;
}

input{
    margin-bottom: 10%;
}

textarea{
    width: 100%;
    height: 100px;
    margin-top: -15%;
}

.submit{
    background-color: grey;
    width: 72px;
    color: white;
    margin-left: 35%;
}

div a{
    width: 72px;
    margin-left: 30%;
}

.second a:hover .submit{
    background-color: rgb(65, 64, 64);
}

.first img {

	border-radius: 50%;
	margin: 10px;
	height: 80px;
	width: 80px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.85);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.85);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}